<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>


<p><%= @rant.user.username %> has just posted a new rant. Check it out here:  <%= link_to rant_url(@rant) %> </p>

<p>Thanks, Rantly</p>

</body>
</html>