

<div class="admin">
  <h1 class="latest-rants-header">Dashboard</h1>

  <div class="admin-cahrt">
    <h2>Rants per day</h2>
  <%= column_chart Rant.group_by_day(:created_at).count %>
    </div>
  <div class="admin-cahrt">
    <h2>Signups per day</h2>
    <%= column_chart User.group_by_day(:created_at).count %>
  </div>
  <div class="admin-cahrt" id="my_chart">
    </div>

  <div class=" admin-cahrt">
<h1>Total number of logins</h1>
    <div class="number">
  <%=  Keen.query("count", "logins") %>
</div>
    </div>


</div>