.table {
  $light-gray: #efefef;

  width: 100%;
  th {
    font-weight: bold;
    text-align: left;
  }

  td, th {
    padding: .5em;
    border: 1px solid $light-gray;
  }

  tbody {
    tr:nth-child(odd) td {
      background: $light-gray;
    }
  }
}



.admin-links{
  text-align: left;
}