.dashboard-content {
  height: auto;
  padding-top: .5em;
  display: inline-block;
  min-height: 1000px;
  float: right;
  width: 80%;
  zoom: 1;
  position: relative;
  margin-left: 310px;
  background-color: #ffffff;

}

.rant-form-container {
  width: 20%;
  float: left;
  height: auto;
  display: inline-block;
  position: relative;
  zoom: 1;
}



.links {
  font-size: 25px;
  margin-left: 35%;
}


.profile-link {
  text-decoration: none;
  color: white;
}

.rant-textbox {
  height: 500px;
  width: 96%;
  color: black;
  font-size: 18px;
}

.rant-description-textbox {
  width: 96%
}



.rant-form {
  color: white;
  border-top: white 1px solid ;
  text-align: left;
  padding-top: 1em;
  margin: 0 5% 0 5%;
}




.rant_button {
  width: 98%;
  font-size: 1.5em;
  font-family: Comic Sans MS;
  border: 1px gray solid;
  background-color: green;
  padding: .25em 1.5em .25em 1.5em;
  color: white;
  text-decoration: none;
}

.latest-rants-header {
  font-size: 40px;
  text-align: center;
  border-bottom: solid grey 2px;
  margin-top: 1.5em;
  margin-left: -25px;
}

.my-rants-header {
  font-size: 40px;
  text-align: center;
  margin-left: -3%;
}

.rant-description {
  color: black;
}

.rant-user-info {
  width: 10%;
  display: inline-block;
  border-right: solid grey 2px;
}

.rant-text {
  display: inline-block;
  padding-bottom: 15px;
}

.rants {
  border-bottom: 1px solid gray;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: .5em;
  display: inline-block;
  width: 100%
}
.favorite-link {
  float: right;

}
.rant-link {
  text-decoration: none;
  display: inline-block;


}

.user-photo {
  width: 20px;
}


