.dashboard-content {
  height: auto;
  padding-top: .5em;
  display: inline;
  min-height: 850px;
  float: left;
  width: 75%;
  z-index: 0;
  position: relative;
  margin-left: 310px;
  background-color: #ffffff;

}

.rant-form-container {
  width: 20%;
  float: left;
  height: auto;
  display: inline;
}



.links {
  font-size: 25px;
  margin-left: 35%;
}


.profile-link {
  text-decoration: none;
  color: white;
}

.rant-textbox {
  height: 300px;
  width: 96%;
  color: black;
  font-size: 18px;
}



.rant-form {
  color: white;
  border-top: white 1px solid ;
  text-align: left;
  padding-top: 1em;
  margin: 0 5% 0 5%;
}




.rant_button {
  width: 98%;
  font-size: 1.5em;
  font-family: PT Sans Caption;
  border: 1px gray solid;
  background-color: green;
  padding: .25em 1.5em .25em 1.5em;
  color: white;
  text-decoration: none;
}

.latest-rants-header {
  font-size: 40px;
  text-align: center;
  border-bottom: solid grey 2px;
  margin-top: 1.5em;
  margin-left: -25px;
}

.my-rants-header {
  font-size: 40px;
  text-align: center;
  margin-left: -3%;
}

.rant-description {
  color: black;
}


