.header {
  background-color: black;
}

#nav {
  text-align: center;
  min-width: 500px;
  background-color: black;
  height: 60px;
  width: 100%;
  margin-top: 0px;
  font-size: 20px;
  line-height: 60px;
  z-index: 2;
  position: fixed;
}
#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#nav li {
  display: inline-block;
}

.logo {
  color: #d3d3d3;
  display: inline-block;
  font-family: Comic Sans MS;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  float: left;
  padding-right: 1em;
  margin-left: 0;
  border-right: 2px solid #1a7a0e;
}

.dashboard-links {
  display: inline-block;
  color: #c1c1c2;
  padding-right: 1em;
  font-size: 15px;
  text-decoration: none;
}

.join-link {
  display: inline-block;
  color: #c1c1c2;
  float: right;
  padding-right: 1em;
  font-size: 15px;
  text-decoration: none;
}



.logout_button {
  margin-right: 2%;
  float: right;
  height: 25px;
  line-height: 30px;
  margin-top: 0;
}
