.rant-show-header {
  font-size: 40px;
  text-align: center;
  border-bottom: solid grey 2px;
  margin-top: 1.5em;
  margin-left: -25px;
  p {
    float: right;
    font-size: 20px;
  }

}

.comment-field {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.spam-link {
  float: right;
}